@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('icomoon.css');
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'NexaLight';
  src: url('fonts/nexa-light-webfont.eot');
  src: url('fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nexa-light-webfont.woff2') format('woff2'), url('fonts/nexa-light-webfont.woff') format('woff'), url('fonts/nexa-light-webfont.ttf') format('truetype'), url('fonts/nexa-light-webfont.svg#nexa_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaRegular';
  src: url('fonts/nexa-regular-webfont.eot');
  src: url('fonts/nexa-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nexa-regular-webfont.woff2') format('woff2'), url('fonts/nexa-regular-webfont.woff') format('woff'), url('fonts/nexa-regular-webfont.ttf') format('truetype'), url('fonts/nexa-regular-webfont.svg#nexa_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url('fonts/nexa-bold-webfont.eot');
  src: url('fonts/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/nexa-bold-webfont.woff2') format('woff2'), url('fonts/nexa-bold-webfont.woff') format('woff'), url('fonts/nexa-bold-webfont.ttf') format('truetype'), url('fonts/nexa-bold-webfont.svg#nexa_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333333;
}
:focus {
  outline: 0px;
}
.outer {
  position: relative;
  width: 100%;
}
.inner {
  width: 940px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.col-2 {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.col-3 {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NexaBold';
  font-weight: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
header .top {
  height: 26px;
  position: relative;
  color: #df174d;
  font-size: 18px;
  font-family: 'NexaLight';
  text-align: center;
  line-height: 30px;
  z-index: 1;
}
header .top h2 {
  font-family: 'NexaLight';
}
header .outer {
  height: 44px;
  background-color: #333;
  position: relative;
  z-index: 2;
}
header .outer .inner .top-menu {
  float: right;
  overflow: hidden;
}
header .outer .inner .top-menu li {
  display: block;
  float: left;
}
header .outer .inner .top-menu li a {
  border-right: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  line-height: 22px;
  margin: 11px 0;
  padding: 0 15px;
  text-decoration: none;
}
header .outer .inner .top-menu li a span[class^="icon-"] {
  font-size: 24px;
  padding-right: 8px;
}
header .outer .inner .top-menu li a.icon-shopping-cart {
  background-color: #df174d;
  border-right: 0px;
  font-size: 24px;
  line-height: 44px;
  margin: 0 0 0 -1px;
  padding: 0;
  text-align: center;
  width: 44px;
}
header .inner {
  position: relative;
  z-index: 3;
  overflow: visible;
  /*nav{
			ul{
				position: relative;
				text-align: justify;
				height: 44px;
				width: 100%;
				&:after{
					position: relative;
					display: inline-block;
					width: 100%;
					height: 0;
					line-height: 0;
					content: '';
				}
				li{
					display: inline-block;
					a{
						color: @grisoscuro;
						display: block;
						font-family: 'NexaRegular';
						font-size: 12px;
						line-height: 44px;
						text-decoration: none;
						text-transform: uppercase;
						&:hover{
							color: @rosa;
						}
					}
					ul {
					    display:none;
					}
				}
			}
		}*/
}
header .inner .logo {
  display: inline-block;
  margin-top: -50px;
}
header .inner .logo a {
  display: block;
}
header .inner .logo a img {
  display: block;
}
header .inner .logo a img.small {
  display: none;
}
header .inner .busqueda {
  background-color: #333333;
  height: 42px;
  position: absolute;
  right: 0px;
  top: 24px;
  /*width: 300px;*/
}
header .inner .busqueda input {
  border: 0px;
  display: block;
  float: left;
  height: 30px;
  margin: 6px;
  padding: 0 12px;
  width: 236px;
}
header .inner .busqueda button {
  background-color: transparent;
  border: 0px;
  color: #ffffff;
  display: block;
  float: left;
  font-size: 32px;
  padding: 3px 8px;
}
header .inner .menu-btn {
  display: none;
}
header .inner nav ul {
  display: table;
  line-height: 40px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .inner nav ul li {
  display: table-cell;
  /*text-align: center;*/
  width: 1%;
  /* force cell to shrink-to-fit text */
  padding: 1em 0;
}
header .inner nav ul li a {
  color: #333333;
  display: block;
  font-family: 'NexaRegular';
  font-size: .9em;
  line-height: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
header .inner nav ul li a:hover {
  color: #df174d;
}
header .inner nav ul li ul {
  display: none;
}
.menu-mobile {
  display: none;
  background-color: #333;
  box-shadow: inset -5px 0px 10px rgba(0, 0, 0, 0.6);
  /*display: block;*/
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 192px;
  z-index: 9;
}
.menu-mobile ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.menu-mobile ul li:first-child a {
  border-top: 0;
}
.menu-mobile ul li:last-child {
  border-bottom: 0;
}
.menu-mobile ul li a {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  color: #ffffff;
  line-height: 48px;
  padding: 0 15px;
  text-align: none;
  text-decoration: none;
}
.menu-mobile ul li a span[class^="icon-"] {
  font-size: 24px;
  padding-right: 8px;
}
.main-slideshow .inner {
  height: 450px;
  overflow: hidden;
}
.main-slideshow .inner .slider-images {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  /*&:before{
				content: "";
				display: block;
				padding-top: 50%;
			}*/
}
.main-slideshow .inner .slider-images img.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.main-slideshow .inner .slider-images ul {
  padding: 0;
  margin: 0;
}
.main-slideshow .inner .slider-images ul#images-list {
  display: none;
}
.main-slideshow .inner .slider-images ul li {
  list-style-type: none;
  display: block;
  float: left;
  width: 100%;
}
.main-slideshow .inner .slider-images ul li img {
  width: 100%;
}
.main-slideshow .inner .slider-pager {
  bottom: 10px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 47px;
}
.main-slideshow .inner .slider-pager ul {
  overflow: hidden;
}
.main-slideshow .inner .slider-pager ul li {
  display: inline-block;
}
.main-slideshow .inner .slider-pager ul li a {
  background-color: #9b9da0;
  border: 3px solid #ffffff;
  display: block;
  height: 12px;
  margin: 3px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  width: 12px;
}
.main-slideshow .inner .slider-pager ul li a:hover,
.main-slideshow .inner .slider-pager ul li a.active {
  background-color: #df174d;
}
.product-slider .icon-angle-double-left,
.product-slider .icon-angle-double-right {
  background-color: #333333;
  color: #ffffff;
  font-size: 50px;
  height: 46px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 112px;
  width: 46px;
}
.product-slider .icon-angle-double-left {
  left: -13px;
}
.product-slider .icon-angle-double-right {
  right: -13px;
}
.product-slider .inner {
  /*padding: 30px 0;*/
  margin-top: .7em;
  margin-bottom: .7em;
  width: 960px;
}
.product-slider .inner h2 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1em;
}
.product-slider .inner .slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product-slider .inner .slider .product-list {
  overflow: hidden;
}
.product-slider .inner .slider .product-list li {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 10px;
}
.product-slider .inner .slider .product-list li div.image {
  height: 300px;
  /*background-color: rgba(0,0,0,0.2);*/
  position: relative;
  border: 1px solid #8C8C8C;
  overflow: hidden;
  /*&:before{
								content: '';
								display: block;
								padding-top: 130%;
							}*/
  /*ul{
								bottom: 0px;
								overflow: hidden;
								position: absolute;
								width: 100%;
								li{
									margin: 0;
									padding: 0;
									width: 50%;
									a{
										display: block;
										color: @blanco;
										line-height: 44px;
										text-align: center;
										text-decoration: none;
										&.guardar{
											background-color: @azul;
											&:hover{
												background-color: @azuloscuro;
											}
										}
										&.comprar{
											background-color: @rosa;
											&:hover{
												background-color: @rosaoscuro;
											}
										}
										span{
											font-size: 20px;
											padding-right: 8px;
										}
									}
								}
							}*/
}
.product-slider .inner .slider .product-list li div.image img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.product-slider .inner .slider .product-list li div.image .icon-tag {
  color: #df174d;
  font-size: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
}
.product-slider .inner .slider .product-list li div.image a.button {
  display: block;
  width: 50%;
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
.product-slider .inner .slider .product-list li div.image a.guardar {
  background-color: #01bfbf;
  left: 0;
}
.product-slider .inner .slider .product-list li div.image a.guardar:hover {
  background-color: #37ced0;
}
.product-slider .inner .slider .product-list li div.image a.comprar {
  background-color: #df174d;
  right: 0;
}
.product-slider .inner .slider .product-list li div.image a.comprar:hover {
  background-color: #e95579;
}
.product-slider .inner .slider .product-list li div.image a span {
  font-size: 20px;
  padding-right: 8px;
}
.product-slider .inner .slider .product-list li div.image a.product-image {
  top: 0px;
}
.product-slider .inner .slider .product-list li div.precio {
  color: #df174d;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
.product-slider .inner .slider .product-list li div.desc {
  margin: .9em 1em;
  text-align: center;
}
.product-slider .inner .slider .product-list li div.desc a {
  font-size: .9em;
  color: #000000;
  text-decoration: none;
}
.product-detail .inner .col-2 .imagen {
  background: gray;
  height: 520px;
  width: 100%;
}
.product-detail .inner .col-2 .thumbs {
  height: 180px;
  margin: 10px 0;
  overflow: hidden;
}
.product-detail .inner .col-2 .thumbs ul {
  margin: 0 -10px;
  overflow: hidden;
}
.product-detail .inner .col-2 .thumbs ul li {
  display: block;
  float: left;
  height: 180px;
  width: 33.33%;
}
.product-detail .inner .col-2 .thumbs ul li a {
  background: gray;
  display: block;
  margin: 10px;
  height: 160px;
  width: 133px;
}
.product-detail .inner .col-2 .info {
  font-size: 150%;
  margin-left: 20px;
}
.product-detail .inner .col-2 .info table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.product-detail .inner .col-2 .info table tbody tr {
  width: 50%;
}
.product-detail .inner .col-2 .info table tbody tr td {
  vertical-align: middle;
  padding: 18px 0 0;
  height: 32px;
}
.product-detail .inner .col-2 .info table tbody tr td input {
  border: 1px solid #cacaca;
  display: inline-block;
  height: 32px;
  text-align: center;
  width: 30%;
}
.product-detail .inner .col-2 .info table tbody tr td big {
  color: #df174d;
  font-size: 160%;
  font-weight: 700;
}
.product-detail .inner .col-2 .info .save-buy {
  padding: 20px 0;
}
.product-list {
  overflow: hidden;
}
.product-list li {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 10px;
}
.product-list li div.image {
  height: 300px;
  /*background-color: rgba(0,0,0,0.2);*/
  position: relative;
  border: 1px solid #8C8C8C;
  overflow: hidden;
  /*&:before{
					content: '';
					display: block;
					padding-top: 130%;
				}*/
}
.product-list li div.image img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.product-list li div.image .icon-tag {
  color: #df174d;
  font-size: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
}
.product-list li div.image .save-buy {
  bottom: 0px;
  position: absolute;
}
.product-list li div.image .save-buy li {
  margin: 0;
  padding: 0;
  width: 50%;
}
.product-list li div.precio {
  color: #df174d;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
.product-list li div.desc {
  margin: .9em 1em;
  text-align: center;
}
.product-list li div.desc a {
  font-size: .9em;
  color: #000000;
  text-decoration: none;
}
.page-title {
  width: 100%;
  height: 44px;
  background: #D0D0D0;
}
.page-title h1 {
  display: block;
  width: 940px;
  position: relative;
  margin: 0 auto;
  padding-top: .7em;
  font: 1.5em 'NexaRegular';
  color: #333333;
}
.pager {
  line-height: 24px;
  padding: 24px 0;
  text-align: center;
}
.pager ul li {
  display: inline-block;
  margin: 0 -3px;
}
.pager ul li a {
  display: block;
  line-height: 24px;
  padding: 0 8px;
  text-decoration: none;
}
.pager ul li a.current {
  background-color: #df174d;
}
footer {
  background-color: #333333;
  color: #ffffff;
}
footer .inner {
  overflow: hidden;
  padding: 32px 0;
}
footer .inner .col-3 {
  border-right: 1px solid #ffffff;
  box-sizing: border-box;
  float: left;
  height: 150px;
  width: 33.33%;
}
footer .inner .col-3:last-child {
  border-right: 0px;
}
footer .inner .col-3 h2 {
  text-align: center;
}
footer .inner .col-3 ul {
  margin: 20px 10% 0;
}
footer .inner .col-3 ul.social li {
  float: left;
  width: 50%;
}
footer .inner .col-3 ul li {
  display: block;
  line-height: 46px;
}
footer .inner .col-3 ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
footer .inner .col-3 ul li a span[class^="icon-"] {
  font-size: 24px;
}
footer .inner .col-3 ul li input {
  border: 0px;
  display: block;
  height: 32px;
  margin-bottom: 20px;
  padding: 0 5%;
  width: 90%;
}
footer .inner .col-3 ul li input.ng-invalid.ng-dirty {
  background: #ffb5b0;
  color: #000000;
}
footer .inner .col-3 ul li button {
  background-color: #df174d;
  border: 0px;
  color: #ffffff;
  display: block;
  float: right;
  line-height: 32px;
  padding: 0 15px;
}
footer .bottom {
  background-color: #df174d;
  clear: both;
}
footer .bottom .inner {
  height: 44px;
  padding: 0;
}
footer .bottom .inner ul {
  text-align: justify;
  width: 100%;
}
footer .bottom .inner ul:after {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  content: '';
}
footer .bottom .inner ul li {
  display: inline-block;
  line-height: 44px;
}
footer .bottom .inner ul li a {
  color: #ffffff;
  display: block;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
footer .bottom .inner ul li span {
  font-size: 21px;
}
ul.save-buy {
  overflow: hidden;
  width: 100%;
}
ul.save-buy li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}
ul.save-buy li a {
  display: block;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
}
ul.save-buy li a.guardar {
  background-color: #01bfbf;
}
ul.save-buy li a.guardar:hover {
  background-color: #37ced0;
}
ul.save-buy li a.comprar {
  background-color: #df174d;
}
ul.save-buy li a.comprar:hover {
  background-color: #e95579;
}
ul.save-buy li a span {
  font-size: 20px;
  padding-right: 8px;
}
@media screen and (max-width: 1024px) {
  .main-slideshow .inner {
    height: auto !important;
  }
  .inner {
    width: 90%;
  }
  .product-slider .inner {
    width: 90%;
  }
  .product-slider .inner .slider {
    /*	margin-left: -10px;
				margin-right: -10px;
				.product-list{
					li{
						width: 33.33%;
						div{
							margin: 10px;
						}
					}
				}
				.icon-angle-double-left,
				.icon-angle-double-right{
					display: none;
				}*/
  }
  .product-slider .inner .slider .product-list {
    width: 133.33%;
  }
  .product-list li {
    width: 33.33%;
  }
  .product-list li div {
    margin: 10px;
  }
  footer .inner {
    width: 100%;
  }
  footer .bottom .inner {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 70px;
  }
  header .top,
  header .outer {
    display: none;
  }
  header .inner .busqueda,
  header .inner nav {
    display: none;
  }
  header .inner .menu-btn {
    display: block;
    cursor: pointer;
    float: right;
    padding: 6px 0;
    position: absolute;
    right: 0px;
    top: 15px;
    width: 40px;
  }
  header .inner .menu-btn span {
    background-color: #df174d;
    display: block;
    height: 4px;
    margin: 4px;
  }
  header .inner .logo {
    margin-top: 15px;
  }
  header .inner .logo a img {
    display: none;
  }
  header .inner .logo a img.small {
    display: block;
    height: 40px;
  }
  .main-slideshow .inner {
    width: 100%;
  }
  .product-slider .inner .slider {
    /*.product-list{
					li{
						width: 50%;
					}
				}*/
  }
  .product-slider .inner .slider .product-list {
    width: 200%;
  }
  .product-list li {
    width: 50%;
  }
  footer {
    background-color: #333333;
    color: #ffffff;
  }
  footer .inner {
    overflow: hidden;
    padding: 32px 0;
  }
  footer .inner .col-3 {
    border-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    float: none;
    height: auto;
    overflow: hidden;
    padding-bottom: 32px;
    margin: 0 auto 32px;
    width: 90%;
  }
  footer .inner .col-3:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .product-slider .inner .slider {
    /*.slider{
				.product-list{
					li{
						padding: 0;
						width: 100%;
					}
				}
			}*/
  }
  .product-slider .inner .slider .product-list {
    width: 400%;
  }
  .product-list li {
    width: 100%;
  }
}
